/* template-color */

.scroll-top{
  background-color: #00005A;
}

.preloader-close{
	background-color: #00005A;
}

.main-header.style-one{
	background-color: #00005A;
}

.header-top ul li a:hover{
	color: #00005A; 
}

.header-top ul.left-info li i{
	background-color: #00005A;
}

.header-top ul.right-info li i{
	color: #00005A; 
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
	color: #00005A; 
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #00005A;
}

.banner-section .owl-theme .owl-dots .owl-dot.active span:before,
.banner-section .owl-theme .owl-dots .owl-dot span:hover:before{
  background-color: #00005A;
}

.theme-btn:before{
	background-color: #00005A;
}

.sticky-header{
	background-color: #00005A;
}

.feature-section .inner-box .single-item .icon-box{
	color: #00005A;
}

.sec-title span.top-text{
	color: #00005A;
}

.feature-section .content_block_1 .content-box .text .icon-box{
	color: #00005A;
}

.feature-section .inner-box .single-item:before{
	background: #00005A;
}

.content_block_2 .content-box .text .icon-box{
	color: #00005A;
}

.image_block_1 .image-box:before{
	background: #00005A;
}

.service-block-one .inner-box .lower-content .inner .icon-box{
	color: #00005A;
}

.service-block-one .inner-box .lower-content .inner:after{
	background: #00005A;
}

.content_block_3 .content-box form .form-group input:focus,
.content_block_3 .content-box form .form-group textarea:focus{
  border-color: #00005A !important;
}

.content_block_3 .content-box form .form-group i{
	color: #00005A;
}

.nice-select:after{
	color: #00005A;
}


.content_block_4 .content-box .testimonial-content .icon-box:before{
	background: #00005A;
}

.content_block_4 .content-box .testimonial-content .author-box .designation{
	color: #00005A;
}

.bg-color-2{
	background: #00005A;
}

.cta-section .inner-container .btn-box .theme-btn{
  color: #00005A;
}



.main-footer .about-widget .email-box i{
	color: #00005A;
}

.main-footer .about-widget .email-box a:hover{
  color: #00005A;
}

.main-footer .links-widget .links-list li a:hover{
  color: #00005A;
}

.main-footer .post-widget .post .post-thumb{
	background: #00005A;
}

.main-footer .post-widget .post .post-date i{
	color: #00005A;
}

.footer-bottom .copyright a:hover{
  color: #00005A;
}

.main-header.style-two .nav-box .nav-btn .bar{
	background: #00005A;
}

.close-side-widget:hover{
  color: #00005A;
}



.main-header.style-two .header-lower .search-box-btn:hover{
  color: #00005A;
}

.main-header.style-two .header-lower li.logo-box .logo:before{
	background: #00005A;
}

.counter-block-one .inner-box .icon-box{
	color: #00005A;
}

.image_block_2 .image-box:before{
	background: #00005A;
}

.image_block_2 .image-box .image-content h4 span{
	color: #00005A;
}

.service-block-two .inner-box .icon-box{
	color: #00005A;
}

.service-block-two .inner-box .link a i{
	color: #00005A;
}




.progress-box .bar-inner{
	background: #00005A;
}

.testimonial-block-one .inner-box{
	background: #00005A;
}


.page-title .bread-crumb li a:hover{
  color: #00005A;
}



.content_block_5 .content-box .text:before{
	background: #00005A;
}

.content_block_5 .content-box .list-item li:before{
	color: #00005A;
}

.chooseus-section .image-box .image-bg{
	background: #00005A;
}


.contact-info-section .inner-box .single-item .icon-box{
	background: #00005A;
}

.contact-info-section .inner-box .single-item p a:hover{
  color: #00005A;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open{
	background: #00005A;
}